.alert-error {
  text-align: center;
  color: #d8000c;
  background-color: #ffbaba;
  font-size: 1.2em;
  margin: 10px 0px;
  padding: 10px 0px;
}

body {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  color: beige;
  font-size: 17px;
}

#root {
  margin: 10px 14px;
}

#header {
  background-color: rgb(0, 138, 180);
  color: white;
  padding: 0px 20px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
}

#select {
  margin-left: 22px;
  font-size: 16px;
  height: 28px;
}

#div_general {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#left_panel {
  background-color: rgb(18, 144, 113);
  display: flex;
  padding: 8px 10px;
  flex: 1;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
  margin-right: 7px;
  border-radius: 5px;
}
#right_panel {
  background-color: rgb(175, 177, 57);
  padding: 16px;
  flex: 1;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
  margin-left: 7px;
  border-radius: 5px;
}

#right_column_title {
  margin: 0px;
}

#right_column_list {
  padding: 0px;
}

.right_column_cont_props {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

td {
  vertical-align: top;
}

td:nth-of-type(1) {
  width: 105px;
  font-weight: bold;
}

a {
  color: white;
}

a:hover {
  color: rgb(206, 255, 91);
}

@media (max-width: 767px) {
  body {
    width: 100%;
  }
  #div_general {
    margin: 0;
    flex-direction: column;
    align-items: stretch;
  }
  #left_panel {
    margin: 0px 0px 7px 0px;
  }
  #right_panel {
    margin: 7px 0px 0px 0px;
  }
}

ul {
  color: black;
  list-style-type: none;
  margin-bottom: 0px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px auto;
}

.contName {
  margin-left: 9px;
}

.badge {
  margin-left: 12px;
}

img {
  height: 70px;
  border-radius: 5px;
}
