.alert-error {
  color: red;
  background: pink;
  height: 3rem;
  text-align: center;
  padding-top: 1rem;
}

body {
  width: 48rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #d8d8d8c7;
  font-family: 'Roboto', sans-serif;
  color: rgba(54, 54, 54, 0.87);
  margin-top: 0;
  line-height: 1.5rem;
}

#header {
  background: #f96363;
  color: #ffffffc5;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  box-shadow: 0.125rem 0.125rem 1.375rem 0.125rem rgb(66, 66, 66);
}

h1 {
  font-size: 1.5rem;
}

#select {
  margin-left: 1rem;
  font-size: 0.875rem;
  width: 15.625rem;
  height: 2rem;
  padding: 0.125rem;
  border-radius: 0.2rem;
  color: #1c1c1c;
}

#main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#repositories-container,
#contributors-container {
  background: #101f2ac9;
  color: #ffffffc5;
  border-radius: 0.2rem;
  flex: 1;
  margin-bottom: 0.5rem;
  animation: li-zoomin 1.5s ease;
  box-shadow: 0.125rem 0.125rem 1.375rem 0.125rem rgb(66, 66, 66);
  transition: box-shadow 0.1s, top 0.3s;
  position: relative;
  top: 0;
}

#repositories-container:hover,
#contributors-container:hover {
  box-shadow: 0.00625rem 0.00625rem 0.625rem 0.0625rem rgb(66, 66, 66);
  transition: box-shadow 0.2s, top 0.3s;
  position: relative;
  top: 0.4375rem;
}

#repositories-container {
  margin-right: 1rem;
  padding: 1rem;
}

td:first-of-type {
  font-weight: bold;
  width: 6.25rem;
  min-width: 6.25rem;
  max-width: 6.25rem;
}

a {
  border: 0.0625rem solid #ffffffc5;
  color: #ffffffc5;
  padding: 0.125rem 0.25rem 0.125rem 0.25rem;
  text-decoration: none;
  border-radius: 0.2rem;
}

a:hover {
  color: #101f2ac9;
  background: #ffffffc5;
}

p {
  padding: 0.5rem 1rem 0.25rem 1rem;
  opacity: 0.54;
  font-size: 0.8rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  border-bottom: solid 0.0625rem rgba(255, 255, 255, 0.12);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  border-radius: 0.2rem;
  margin-right: 1rem;
  opacity: 0.9;
}

.contributor-data {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.contributor-badge {
  font-size: 0.7rem;
  height: 1rem;
  line-height: 1rem;
  padding: 0.125rem 0.5rem;
  background-color: gray;
  color: white;
  border-radius: 0.2rem;
}

@keyframes li-zoomin {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.8;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    width: 100%;
    font-size: 0.9rem;
  }

  #main-container {
    flex-direction: column;
    align-items: stretch;
  }

  #repositories-container {
    margin-right: 0;
  }

  h1 {
    font-size: 1.1rem;
  }

  #select {
    width: 12.5rem;
  }
}
