.alert-error {
  color: red;
  width: 90%;
  margin: 1% 5% 1% 5%;
  padding: 30px 0 30px 0;
  background: pink;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: white;
  font-size: 20px;
  line-height: 2;
}

.header {
  width: 81%;
  margin: 0 auto;
  padding: 20px 0px 20px 20px;
  background: #3f51b5;
  color: white;
  display: flex;
}

.header div {
  padding-left: 10px;
}

.repo-select {
  margin: 10px;
  padding: 5px;
}

.main-container {
  width: 80%;
  margin: 5px auto;
  display: flex;
}

.repo-container {
  flex: 1;
  margin-right: 5px;
}

.table {
  box-shadow: -2px 2px 5px 5px rgba(128, 128, 128, 0.247);
  width: 100%;
}

.keys {
  width: 20%;
  padding: 0 10px;
  text-align: left;
  vertical-align: top;
}

.values {
  width: 80%;
}

.contributors-container {
  box-shadow: -2px 2px 5px 5px rgba(128, 128, 128, 0.247);
  flex: 1;
}

.contributor-image {
  width: 80px;
  padding: 20px;
  border-radius: 26px;
}

.contributor-link {
  flex-grow: 1;
}

.contributor-div {
  padding: 2px 13px;
  margin-right: 15px;
  background: grey;
  border-radius: 5px;
  color: white;
  line-height: 1;
  font-size: 16px;
}

.contributor-title {
  color: grey;
  font-size: 18px;
  padding: 20px;
}

.contributor-list {
  list-style-type: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.459);
  display: flex;
  align-items: center;
}

@media (max-width: 890px) {
  .main-container {
    font-size: 12px;
    display: table;
    width: 100%;
  }

  .header {
    width: 100%;
    flex-wrap: wrap;
  }

  .repo-container {
    width: 100%;
  }

  .contributors-container {
    margin-top: 5px;
    width: 100%;
    box-shadow: -2px 2px 5px rgba(128, 128, 128, 0.247);
  }

  .table {
    box-shadow: -2px 2px 5px rgba(128, 128, 128, 0.247);
  }

  .contributor-title {
    font-size: 15px;
  }

  .keys {
    padding-left: 20px;
  }

  .repo-select {
    padding: 6px 0px;
  }
}
