body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 770px;
    background-color: floralwhite;
    margin-top: 0;
}
* {
    box-sizing: border-box;
}
h5 {
    padding: 0;
    margin: 0;
}
#container-select {
    color: white;
    background-color: rgb(34, 51, 150);
    padding: 20px 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#menu {
    margin-left: 15px;
    font-size: 14px;
    width: 270px;
    height: 32px;
    padding: 5px;
}
#root {
    max-width: 800px;
    margin: 0 auto;
}
#first-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 5px 5px 8px ;
}
table {
    border-collapse: collapse;
}
td {
    padding-left: 15px;
}
td.nameRow {
    font-weight: bold;
}
