*{
     box-sizing:border-box; 
}

#root {
  width: 100%;
  
}
#selection-wrapper{
    margin-top:40px;
    width : 100%;
    height:100px;
    background-color:dimgray;
    text-align: center;
    padding-top: 25px;
    border:2px solid black;
    border-radius: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    box-shadow: 5px 2px 2px black;
}
#selections{
    width:30%;
    height:30px;
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 2px 10px  2px 15px ;
    box-shadow: 7px 5px 5px rgb(0, 0, 0);
    border-radius: 25px;
}
.main-wrapper{
  display: flex;
}

#errText{
   font-family: 'Josefin Sans', sans-serif; 
    font-size: 20px;
}
#repo-Info{

    background-color:yellow;
    margin: 40px 0 0 30px;
    width:40%;
    height:250px;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    padding:5px; 

}

#repo-info-ul{
    list-style: none;
    line-height: 40px;
    font-family:'Josefin Sans', sans-serif;
    font-size: 20px;
    
}
.cont-name-link{
      text-decoration: none;
}
#cont-info{
    background-color:aqua;
    width:55%;
    margin:40px 0 0 70px;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}
.section-name{
   margin:30px 0 0 30px;
   font-family:'Josefin Sans', sans-serif;
   font-size: 25px;
}
#cont-info-ul{
    margin-top:20px;
}
#per-contributor{
    list-style: none;
    display: flex;
    padding-top:20px;
}
.contributor-image{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin:10px 10px 10px 30px; 
}

.cont-name{
    width:80px;
    margin:18px 35px 0 0 ;   
}
.contributor-link{
    display: flex;
    text-decoration: none;
    font-family:'Josefin Sans', sans-serif;
    font-size: 20px;
    padding-top:10px;
   
}
 .contributor-link:hover{

     border:3px  solid rgba(4, 4, 252,6); 
     border-radius: 10px; 
     background-color:rgb(5, 107, 107);
     color: white;
    }  

.Contributions-text{
    font-family:'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-left:40px;
    
}
#cont-count{
  width:30px;
  height:20px;
  background-color: black;
  margin-left:10px;
  text-align: center;
  border-radius: 2px;
  color:white;
}

@media screen and (max-width:950px) {
    
    #repo-Info{
        width:50%;
        height: 300px;
        margin:40px 0 0 20px;
    }
    #repo-info-ul{
         font-size: 15px;
    }
    #cont-info{
       width:50%;
       margin:40px 0 0 30px;
    }
    .cont-name{
         font-size: 15px;
    }
    .Contributions-text{
        display: none;
    }
    .section-name{
        padding-top:30px;
    }
}

@media screen and (max-width:620px) {
    .main-wrapper{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
    }  
    #repo-Info{
        width:70%;
        height: 400px;
        overflow: auto;
        margin:40px 0 0 20px;
    }
    #cont-info{

      width:90%;
    }

    #selection-wrapper{
        height: 120px;
        font-size: 25px;
    }
     .section-name{
         font-size: 20px;
     }
     #selections{
         width:80%;
     }
}

