*{
    padding : 0 ;
    margin :0 , auto;
}

body{
    font-family :Helvetica, sans-serif;
    background-color :#fff;
}

#root{
width : 100%;
}
select{
    margin : 10px;
    border-radius: 3px;
}

h1{
    display : inline-block;
}
header{
  color: white;
  background-color: #0d0d85;
  -moz-box-shadow: 0 8px 6px -6px #bab9b9;
  -webkit-box-shadow:  0 8px 6px -6px #bab9b9;
  box-shadow: 0 8px 6px -6px #bab9b9;
}

img {
  height : 50px;
  width: 50px;
  border-radius: 5px;
  display : inline-block;
  margin : 10px;
}

#rep_div {
  padding : 5px;
  border : 2px solid #bab9b9 ;
  border-radius: 5px;
  margin : 10px;
  margin-left : 0;
}


#con_div {
  padding: 5px;
  margin : 20px;}

li{
  list-style: none;
  border-bottom: 1px solid black;
}



.con_name_badge{
  display : inline-block;
  font-weight: bold;
  margin : 10px;
}