* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

.header {
	font-size: 1.4em;
	margin: 1%;
	padding: 2%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: #3f51b5;
	height: 40px;
	width: 95%;
	align-items: center;
}

.main-container {
	padding-left: 1%;
	padding-right: 1%;
	display: flex;
	justify-content: center;
}

.repo-container {
	width: 48%;
	margin-right: 2%;
}

.contributors-container {
	width: 48%;
}

.headerContributers {
	margin-bottom: 2%;
	/* font-weight: bold; */
}

#select {
	font-size: 1em;
}

img {
	width: 15%;
	height: 15%;
	border-radius: 10%;
}

ul {
	list-style-type: none;
	margin-top: 1%;
	padding: 2%;
	background-color: white;
	box-shadow: 0px 1px 2px 2px #888888;
	border-radius: 2px;
}

.liCont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1%;
	align-items: center;
	border-bottom: 1px solid #a0a0a0;
	padding-bottom: 2%;
}

.liCont div {
	background-color: cadetblue;
	color: white;
	border-radius: 15%;
	width: 6%;
	text-align: center;
	margin-right: 3%;
}

.bold {
	font-weight: bold;
}

.alert-error {
	text-align: center;
	color: red;
	width: 60%;
	padding: 2%;
	background-color: white;
	box-shadow: 0px 1px 2px 2px #888888;
	border-radius: 2px;
	margin: auto;
	margin-top: 2%;
	/* flex: 0; */
}

/* -----------------      tablet size       ---------------- */

@media screen and (max-width: 992px) {
	* {
		margin: 0;
		padding: 0;
	}

	.main-container {
		display: block;
		width: 100%;
		font-size: 1.2em;
	}

	.contributors-container {
		width: 90%;
		margin: auto;
	}

	.liCont div {
		width: 5%;
		border-radius: 8%;
	}

	.liCont img {
		width: 8%;
	}

	.repo-container {
		width: 90%;
		margin: auto;
		margin-bottom: 3%;
	}

	.header {
		display: flex;
	}

	#select {
		color: black;
		border: 1px solid white;
		font-size: 1em;
		margin-left: 2%;
	}
}

@media screen and (max-width: 600px) {
	* {
		margin: 0;
		padding: 0;
	}

	.main-container {
		display: block;
		width: 100%;
		font-size: 1.2em;
	}

	.contributors-container {
		width: 90%;
		margin: auto;
	}

	.liCont div {
		width: 5%;
		border-radius: 8%;
	}

	.liCont img {
		width: 10%;
	}

	.repo-container {
		width: 90%;
		margin: auto;
		margin-bottom: 3%;
	}

	.header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2%;
	}

	#select {
		color: black;
		border: 1px solid white;
		font-size: 1em;
		margin-left: 2%;
		width: 50%;
	}
}
