html{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight:500;
    background: linear-gradient(90deg,  #E73C7E, #23A6D5,#fff);
	background-size: 300% 300%;
    -webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


label{
    font-size: 1.6em;
    font-weight: bold;
    position: relative;
    left:0;
    text-transform: uppercase;
}

select {
    border-color: transparent;
    padding:8px;
    font-size: 0.7em;
  -webkit-appearance: none;
  -moz-appearance: none;
    appearance: none;
    background: url('https://www.freeiconspng.com/uploads/black-arrow-down-icon-png-16.png') 96% / 15% no-repeat ;
}

select::-ms-expand { 
    display: none; 
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

li { 
    list-style: none;
    margin-top:8px;
}

.repository-info li a{
    color:#000;
    border:1px  outset #000 ;
    border-radius:10px 10px;
    padding:5px;
 
}

.repository-info li a:hover {
  background-color: rgba(255, 255, 255, 0.795);
  border-color:transparent;
}

.wrapper {
    width:90%;
    margin-top:15px;
}

.repository-info-div{
    float:left;
    width:450px;
}

.repository-info{
    padding:10px;
    font-size: 1.2em;
}

.contributors-info-div{
     width:45%;
     float:right;
     height:500px;
     overflow-y: auto;
}

.contributor-info li img {
    width:15%;
    margin:10px;
}

.contributor-info li {
    border-bottom: 1px inset rgba(0, 0, 0, 0.438);  
}

.contributor-info li:hover{
   transform: translate(5px,5px);
}
 
 .contributors-info-div, .repository-info-div , select , .contributor-info li img{
    border-radius:20px 20px;
    background-color: rgba(250, 250, 250, 0.534);
}
