html{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('bgimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight:500;
}

label{
    font-size: 1.6em;
    font-weight: bold;
    position: relative;
    left:0;
    text-transform: uppercase;
    color: #fff;
}

select {
    border-color: transparent;
    padding:8px;
    font-size: 0.7em;
  -webkit-appearance: none;
  -moz-appearance: none;
    appearance: none;
    background: url('https://www.freeiconspng.com/uploads/black-arrow-down-icon-png-16.png') 96% / 15% no-repeat ;
}

select::-ms-expand { 
    display: none; 
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

li { 
    list-style: none;
}

.wrapper {
    width:90%;
    margin-top:15px;
}

.repository-info-div{
    float:left;
    width:450px;
}

.repository-info{
    padding:10px;
    font-size: 1.2em;
}

.contributors-info-div{
     width:45%;
     float:right;
     height:500px;
     overflow-y: auto;
     
}

.contributor-info li img {
    width:15%;
    margin:10px;
}

.contributor-info li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.438);
}

.contributor-info li:hover{
   transform: translate(5px,5px);
}
 
 .contributors-info-div, .repository-info-div , select , .contributor-info li img{
    border-radius:20px 20px;
    background-color: rgba(250, 250, 250, 0.87);
}