/* General style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main div container */
.container {
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.flexItem {
  padding: 0.5em;
}

.count {
  background-color: rgb(196, 192, 192);
}

.answer {
  padding: 1em;
  display: none;
  background-color: white;
}

.question {
  padding: 1em;
}

.question:hover {
  cursor: pointer;
  background-color: rgb(158, 153, 153);
  transition: 200ms;
}

/* this only for control */
.flag {
  display: none;
}

.active {
  background-color: rgb(177, 172, 172);
}

/* medium screens */
@media only screen and (max-width: 800px) {
  .container {
    max-width: 94%;
  }
}

/* small screens */
@media only screen and (max-width: 500px) {
  .container {
    max-width: 100%;
    font-size: 0.8em;
  }
}
